<div class="box">
  <nav class="header navbar navbar-expand-lg navbar-light bg-white static-top">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand" [routerLink]="['/']">
          <img src="https://portal.acumen.ai/Service/Logo/Padinmotion" />
        </a>
      </div>
      <div *ngIf="excelGrid.loadedData">
        <div>
          <button id="btnUpload" class="btn btn-success" style="float: right;" type="button" (click)="saveSession()">
            Submit <i class="fa fa-check" aria-hidden="true"></i>
            <span *ngIf="runningModel" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
          <button id="btnCancel" class="btn btn-danger" style="float: right; margin-right: 10px;" type="button"
            (click)="leave()">
            Cancel <i class="fa fa-close" aria-hidden="true"></i>
          </button>
        </div>
      </div>     
    </div>
  </nav>
  <div class="content container-fluid">  
    <spinner *ngIf="!excelGrid.loadedData" style="position: absolute;"></spinner>
    <div id="main-container" class="row" style="height: 100%; "
      [style.visibility]="!excelGrid.loadedData ? 'hidden' : ''">
      <div style="height: 100%;width: 100%;">
        <excel-grapecity #excelGrid (workbookReady)="onWorkbookReady()" [readOnly]="false" style="height: 100%;">
        </excel-grapecity>
      </div>
    </div>
  </div>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Are you sure you want to publish?</h4>
    <button type="button" class="btn" aria-label="Close" (click)="modal.dismiss('Cancel')">
      <span style="color: grey;" aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Note: After publishing no further changes can be made to this version.</label>
      <label for="description">Version comment&nbsp;<span style="font-size: smaller;">(required)</span></label>
      <textarea class="form-control" id="description" [ngModel]="description"
        (ngModelChange)="onDescriptionChange($event)" rows="3"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary mr-auto" (click)="modal.dismiss('Cancel')">Cancel</button>
    <button type="button" [disabled]="!descriptionOk" class="btn btn-primary" (click)="modal.close('Save')">Yes</button>
  </div>
</ng-template>