<nav class="navbar navbar-expand-lg navbar-light bg-white static-top">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" [routerLink]="['/']">
                <img src="https://portal.acumen.ai/Service/Logo/Padinmotion" />              
            </a>            
        </div>
        <div>
            <button class="btn btn-success" style="float: right;" type="button" (click)="gotoNewVersion()">New version</button>
        </div>
    </div>
</nav>
<div id="exec-container" class="page container">
    <div class="row">
        <div *ngIf="!isRaw" class="col-sm-12" style="text-align: right;"><button id="rawFormBtn" class="btn" (click)="isRaw = true;">Raw</button></div>
        <div *ngIf="isRaw" class="col-sm-12" style="text-align: right;"><button id="inputFormBtn" class="btn" (click)="isRaw = false;">Form</button></div>
    </div>
    <div class="row">
        <div class="col-sm-6" style="padding-right:0;">
            <app-inputsform [hidden]="isRaw" #inputsListComponent 
                [title]="'Request'" 
                [modelId]="modelId" 
                [modelVersion]="modelVersion" 
                (onResponse)="onResponse($event)"
            ></app-inputsform>
            <app-rawform [hidden]="!isRaw"
                [title]="'Request'" 
                [modelId]="modelId" 
                [modelVersion]="modelVersion" 
                (onResponse)="onResponse($event)"
            ></app-rawform>
        </div>
        <div class="col-sm-6" style="padding-right:0;">
            <code *ngIf="response != null">
                {{response}}
            </code>
        </div>
    </div>
</div>