<div class="header">
  <span class="action-header">{{title}}</span>
</div>
<ng-container>
    <form (ngSubmit)="onSubmit(model)">     
        <textarea [(ngModel)]='model' [ngModelOptions]="{standalone: true}" rows="25" style="width:100%"></textarea>  
        <button id="btnRawForm" type="submit" class="btn btn-primary" [disabled]="callingApi">
          Call API
          <span *ngIf="callingApi" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
    </form>
</ng-container>
